body{
    border: 2px solid gray;
}
.head1{
    margin-top: 100px;
    font-size: x-large;
    font-size-adjust: inherit;
    font-family: Arial, Helvetica, sans-serif;

text-align: center}
.hr1{     width: 11rem;
    margin: 1rem 1rem 1rem 24rem;
    position: relative;
    bottom: 3.6rem;
    border: 2px solid orangered;
    background-color:orangered;
    border-width: 1px;
}  
.hr2{     width: 11rem;
    /* height: 1rem; */
    margin: 1rem 1rem 1rem 24rem;
    position: relative;
    bottom: 4.6rem;
    left: 31rem;
    border: 1px solid orangered;
    background-color:orangered;
    border-width: 1px;
}
.arrw{
   margin-left: 40.125rem;
   margin-top: 0.0625rem;
}
#back{font-size: 250%;

    color: gray;
}
.fitem1{
    align-content: center;
    border: 2px solid orangered;
    padding: 42px 46px 2px;
    margin: 76px 565px 45px;
font-size: larger;
text-align: center;
border-radius: 10px; 
box-shadow:8px 6px 15px grey;
}
.or{
    color: orangered;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.or2{
    color: orangered;
}
.material-icons{

    color: orangered;
    margin-top: 45px;
    margin-left: 197px;
    margin-bottom: 32px;
    margin-right: 1px;
}
a{
    text-decoration:none ;
}

.pline{
    position: relative;
    left: 14%;
    width: 105%;}
    #back{
        display: inline;
    }